<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Login Id</td>
        <td>Name</td>
        <td>BirthDate</td>
        <td>E-Mail</td>
        <td>Modify</td>
    </tr>
    <tr th:each="lst:${list}">
        <td th:text="${lst.id}"></td>
        <td th:text="${lst.loginId}"></td>
        <td th:text="${lst.name}"></td>
        <td th:text="${lst.birthDate}"></td>
        <td th:text="${lst.email}"></td>
        <td><a th:href="${'/edit/form/'+lst.id}">Edit</a></td>
    </tr>
</table>
<a href="/add/form">Add</a>
</body>

</html>